<div class="columns is-vcentered">
  <div class="column is-two-thirds">
    {{> TitleBar title="Walkabout Services Inc." subTitle="Sign up or Log in"}}
  </div>
  <div class="column">
    {{> WelcomeNavigator }}
  </div>
</div>

<div class="columns is-vcentered content">
  <div class="column has-text-centered">
    <img width="300" src="/walking-forest.jpg" alt="walk forest" />
  </div>
  <div class="column">
    <h1 class="title">Track your Favourite Walks</h1>
		<p>Share your favourite places!</p>
  </div>
</div>
